In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder as le

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data_candidates = pd.read_csv("/content/drive/MyDrive/skolhack/final csv/data_candidates_fin.csv")

data_candidates_education = pd.read_csv("/content/drive/MyDrive/skolhack/final csv/data_candidates_education_fin.csv")

data_candidates_work_places = pd.read_csv("/content/drive/MyDrive/skolhack/final csv/data_candidates_work_places_fin.csv")

data_jobs_final = pd.read_csv("/content/drive/MyDrive/skolhack/final csv/data_jobs_fin.csv")

In [4]:
data_candidates_education.rename(columns={'len':'num_educ'},inplace=True)

In [5]:
data_4train = pd.concat([data_candidates, data_candidates_work_places,data_candidates_education,data_jobs_final], axis=1)
# data_4train = pd.concat([data_candidates, data_candidates_work_places], axis=1)
data_4train.head(5)

,Sex,Age,Salary,Employment,Shedule,DateCreated,JobId,CandidateStatusId,Status,code_status,...,len,CandidateId,num_educ,year_median,year_last,JobId,Status,Region,name_coded,shedule
0,2,21,0,Full,Full,2014-01-15 00:00:00.0000000,163,1425,Отклонен,0.0,...,2.0,576620.0,1.0,1999.0,1999.0,163.0,4.0,Санкт-Петербург,экспедитор,NaN
1,2,23,0,Full,Full,2014-01-15 00:00:00.0000000,163,1425,Отклонен,0.0,...,1.0,614684.0,1.0,1994.0,1994.0,211.0,4.0,Санкт-Петербург,Водитель,NaN
2,2,31,0,Full,Full,2014-01-15 00:00:00.0000000,163,1425,Отклонен,0.0,...,5.0,614712.0,1.0,1995.0,1995.0,232.0,2.0,Санкт-Петербург,Водитель,NaN
3,2,23,0,Full,Full,2014-01-15 00:00:00.0000000,163,1425,Отклонен,0.0,...,1.0,614734.0,1.0,2007.0,2007.0,288.0,2.0,Санкт-Петербург,Водитель,NaN
4,2,27,0,Full,Full,2014-01-15 00:00:00.0000000,163,1425,Отклонен,0.0,...,2.0,614735.0,1.0,2011.0,2011.0,292.0,4.0,Санкт-Петербург,Водитель,NaN

In [6]:
data_4train.columns

Index(['Sex', 'Age', 'Salary', 'Employment', 'Shedule', 'DateCreated', 'JobId',
       'CandidateStatusId', 'Status', 'code_status', 'region_short', 'drive_A',
       'drive_B', 'drive_C', 'drive_D', 'CandidateId', 'Period', 'len',
       'CandidateId', 'num_educ', 'year_median', 'year_last', 'JobId',
       'Status', 'Region', 'name_coded', 'shedule'],
      dtype='object')

In [7]:
data_4train.drop(columns=['JobId','CandidateStatusId','Status','CandidateId'],axis=1,inplace=True)

In [8]:
data_4train.head()

,Sex,Age,Salary,Employment,Shedule,DateCreated,code_status,region_short,drive_A,drive_B,drive_C,drive_D,Period,len,num_educ,year_median,year_last,Region,name_coded,shedule
0,2,21,0,Full,Full,2014-01-15 00:00:00.0000000,0.0,Санкт-Петербург,0,0,0,0,20.0,2.0,1.0,1999.0,1999.0,Санкт-Петербург,экспедитор,NaN
1,2,23,0,Full,Full,2014-01-15 00:00:00.0000000,0.0,Санкт-Петербург,0,0,0,0,3.0,1.0,1.0,1994.0,1994.0,Санкт-Петербург,Водитель,NaN
2,2,31,0,Full,Full,2014-01-15 00:00:00.0000000,0.0,Санкт-Петербург,0,0,0,0,61.0,5.0,1.0,1995.0,1995.0,Санкт-Петербург,Водитель,NaN
3,2,23,0,Full,Full,2014-01-15 00:00:00.0000000,0.0,Санкт-Петербург,0,0,0,0,191.0,1.0,1.0,2007.0,2007.0,Санкт-Петербург,Водитель,NaN
4,2,27,0,Full,Full,2014-01-15 00:00:00.0000000,0.0,Санкт-Петербург,0,0,0,0,23.0,2.0,1.0,2011.0,2011.0,Санкт-Петербург,Водитель,NaN

In [9]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1-cp37-none-manylinux1_x86_64.whl (76.8 MB)
     |████████████████████████████████| 76.8 MB 1.2 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1

In [10]:
from catboost import CatBoostRegressor

In [11]:
y = data_4train['code_status']
data = data_4train.drop(columns = ['code_status','DateCreated'], axis = 0)

In [12]:
data_4train.Employment.unique()

array(['Full', nan, 'Part', 'Look-out', 'Change', 'does not matter',
       'Not full'], dtype=object)

In [13]:
data.Employment.fillna('does not matter',inplace=True)

In [ ]:
data.dtypes

In [15]:
data['Employment'] = data['Employment'].astype('str')
data['Shedule'] = data['Shedule'].astype('str')
data['shedule'] = data['shedule'].astype('str')
data['region_short'] = data['region_short'].astype('str')
data['Region'] = data['Region'].astype('str')
data['name_coded'] = data['name_coded'].astype('str')

In [16]:
model = CatBoostRegressor(cat_features = ['Employment', 'Shedule','region_short','Region','name_coded','shedule'])

In [ ]:
model.fit(data,y)

In [42]:
data.sample(5)

,Sex,Age,Salary,Employment,Shedule,region_short,drive_A,drive_B,drive_C,drive_D,Period,len,num_educ,year_median,year_last,Region,name_coded,shedule
66361,2,0,0,Part,Flex,Воронежская,0,0,0,0,NaN,NaN,NaN,NaN,NaN,nan,nan,nan
90357,0,49,0,Full,Full,Санкт-Петербург,0,0,0,0,NaN,NaN,NaN,NaN,NaN,nan,nan,nan
103502,2,46,0,Full,Full,Отсутствует,0,0,0,0,NaN,NaN,NaN,NaN,NaN,nan,nan,nan
25873,2,0,0,Full,Full,Воронежская,0,1,0,0,NaN,NaN,NaN,NaN,NaN,nan,nan,nan
11233,2,40,0,Full,Full,Отсутствует,0,0,0,0,24.0,1.0,2.0,2014.0,2014.0,nan,nan,nan

In [57]:
data.dtypes

Sex               int64
Age               int64
Salary            int64
Employment       object
Shedule          object
region_short     object
drive_A           int64
drive_B           int64
drive_C           int64
drive_D           int64
Period          float64
len             float64
num_educ        float64
year_median     float64
year_last       float64
Region           object
name_coded       object
shedule          object
dtype: object

In [40]:
model.predict(data.sample(60))

array([0.48661924, 0.54075332, 0.50955758, 0.5517972 , 0.5221456 ,
       0.4461645 , 0.50956251, 0.5383308 , 0.53525666, 0.50956251,
       0.31671182, 0.44236385, 0.51845275, 0.45069153, 0.39892195,
       0.53074968, 0.1237265 , 0.55767303, 0.5063938 , 0.52398866,
       0.50956251, 0.36113406, 0.47324583, 0.35781425, 0.54069237,
       0.70268894, 0.54299665, 0.56104792, 0.53074968, 0.43121137,
       0.47256151, 0.4675719 , 0.71075196, 0.37287764, 0.50956251,
       0.46638275, 0.44803728, 0.50956251, 0.44803728, 0.54942609,
       0.53168518, 0.50956251, 0.43444558, 0.70196966, 0.47650742,
       0.41468368, 0.64306785, 0.43396898, 0.39116184, 0.49172692,
       0.38673229, 0.53074968, 0.35522312, 0.45372799, 0.3524604 ,
       0.59895407, 0.47305874, 0.49574206, 0.46065518, 0.55070615])

In [45]:
import pickle
filename = 'finalized_model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [19]:
from google.colab import files
files.download(filename)

In [43]:
import joblib

In [44]:
filename = 'finalized_model.sav'
joblib.dump(model, filename)

['finalized_model.sav']